body {
    padding: 0;
    margin: 0;
    font-family: Calibri;
}


#page { 
    display: flex;
    color: #344B9B;
}


#page aside {
  width: 30%;
  background-color: #344B9B;
  color: white;
}

#photo-cv{
  border-radius: 30%;
  max-width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#page aside h4{
  background-color: white;
  color: #344B9B;
  text-align: center;
  padding: 5px;
  font-size: 1.1em;
}

#page aside .contact{
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;

}

#page main {
     width: 70%;
     padding-left: 10px;
 	 padding-right: 10px;
 	 background-image: url("Misty.jpg") opacity: 0.6;

}
#page main h1 {
      text-align: center;
      font-size: 3em;
      color: #344B9B;
      margin-bottom: 10px;
}

#page main h2 {
      text-align: center;
      font-size: 2em;
      color: #344B9B;
      margin-top: 0px;
      border: 3px #344B9B double;
      border-radius: 10px;
      box-shadow: 1px 1px 6px #344B9B;
}

#page main h3 {
      font-size: 1.8em;
      color: #344B9B;
      margin-top: 1px;
      margin-bottom: 8px;
      opacity: 60%;
}

#page main h4 {
      font-size: 1.5em;
      color: #344B9B;
   margin-top: 1px;
   margin-bottom: 1px;
}


#page main h5 {
  font-size: 1.1em;
  margin-top: 1px;
  margin-bottom: 1px;
}


#page aside a {
      color: white;

}

#page main a {
      color: #4361ca;

}


#page aside .contact a span {
display:none;
}

#page aside .contact a:hover span {
display:block;
margin:10 10 10 10;
}

#mon-velo
{
max-width: 60%;
height: auto;
}


#page aside i
{  
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 2em;
}

#icones
{text-align: center;}

